.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-how {
    color: #53565a;
    font-size: 20px;
}

.contact-header {
    color: #695aa6;
    font-size: 2rem;
    font-weight: bold;
}

.contact-form {
    width: 50%;
}

.contact-form-bottom {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.contact-form-top input {
    padding: 10px;
    font-size: 15px;
    font-family: Verdana;
    border-radius: 5px;
    border: 1px solid rgb(203, 200, 200);
    color: grey;
    margin: 1%;
    width: 45%;
    background-color: rgba(0, 0, 0, 0.01);
}

.contact-form-top input:focus {
    outline: 3px solid #d2cbed;
}

.contact-form-bottom textarea {
    padding: 10px;
    font-size: 15px;
    font-family: Verdana;
    border-radius: 5px;
    border: 1px solid rgb(203, 200, 200);
    color: grey;
    margin: 1%;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.01);
}

.contact-form-bottom textarea:focus {
    outline: 3px solid #d2cbed;
}

.contact-form-bottom input {
    width: 9rem;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-family: verdana;
    border: 1px solid #695aa6;
    background-color: white;
    color: #695aa6;
    background-color: rgba(0, 0, 0, 0.01);
}

.contact-form-bottom input:hover {
    background-color: #695aa6;
    color: white;
    cursor: pointer;
}
