.home {
    background-image: url('./../assets/background.jpg');
    background-size: cover;
}

.home-shadow {
    background: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
}

.header {
    display: flex;
    justify-content: flex-end;
}

.menu-list {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding-inline-start: 0;
}


.afewafa {
    font-size: 50px;
}



@media screen and (max-width: 768px) {
    .home {
        background-position: top;
    }

    .menu-list {
        flex-direction: column;
    }
}