.home {
    background-image: url('./../assets/background_large.jpg');
    background-size: cover;
    background-position: top;
}

.home-shadow {
    background: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
}

.header-container-scrolled {
    background-color: white;
    height: 4vw;
    position: fixed;
    top: 0;
    width: 100%;
    transition-duration: 0.5s;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6vw;
    padding-right: 13vw;
    transition-duration: 0.5s;
}

.header-scrolled {
    height: 4vw;
    transition-duration: 0.5s;
}

.menu-list {
    list-style-type: none;
    display: flex;
    gap: 2vw;
    padding-inline-start: 0;
    font-size: 1.1vw;
    font-weight: bold;
    color: white;
    transition-duration: 0.5s;
}

.menu-item:hover {
    cursor: pointer;
}

.menu-list-scrolled {
    color: #695aa6;
    transition-duration: 0.5s;
}

.menu-list {
    padding-right: 2vw;
    margin: 0;
}

.home-container {
    padding: 5vw 30vw;
}

.home-container h1, h2, p {
    margin: 0;
}

.home-container h1 {
    font-size: 6vw;
    line-height: 6vw;
    opacity: 0.7;
}

.home-container h2 {
    font-size: 4vw;
    opacity: 0.6;
}

.home-container p {
    letter-spacing: 0.75vw;
    font-size: 2vw;
    opacity: 0.5;
}

.home-container button {
    margin-top: 2vw;
    width: 10vw;
    font-size: 1vw;
    border-radius: 2vw;
    padding: 0.75vw;
    color: white;
    background-color: #695aa6;
    border-color: #695aa6;
    border-style: none;
    font-family: Verdana;
}

.home-container button:hover {
    background-color: #584b8d;
}

.home-container button:focus {
    outline: 3px solid #d2cbed;
}

@media only screen and (max-width: 768px) {
    .home {
        background-image: url('./../assets/background_small.jpg');
    }

    .header {
        align-items: flex-start;
        padding-right: 5vw;
        padding-top: 3vw;
    }

    .header-container-scrolled {
        height: 18vw;
    }

    .menu-list {
        flex-direction: column;
        font-size: 5vw;
        position: fixed;
        top: calc(18vw + 0.2vw);
        background-color: white;
        right: 0;
        width: 90%;
        color: #6c757d;
        padding: 5vw 0 5vw 10%;
    }
    
    .menu-list-scrolled {
        transition-duration: 0s;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    .home-container {
        padding: 80vw 20vw;
    }

    .home-container h1 {
        font-size: 10vw;
        line-height: 10vw;
    }

    .home-container h2 {
        font-size: 8vw;
    }

    .home-container p {
        letter-spacing: 0.75vw;
        font-size: 3.5vw;
    }

    .home-container button {
        margin-top: 5vw;
        width: 35vw;
        font-size: 4vw;
        border-radius: 5vw;
        padding: 2vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 400px) and (max-width: 600px) {
    .menu-list {
        font-size: 4vw;
    }

    .home-container {
        padding: 45vw 20vw;
    }

    .home-container h1 {
        font-size: 10vw;
        line-height: 10vw;
    }

    .home-container h2 {
        font-size: 8vw;
    }

    .home-container p {
        letter-spacing: 0.75vw;
        font-size: 3.5vw;
    }

    .home-container button {
        margin-top: 5vw;
        width: 32vw;
        font-size: 3.5vw;
        border-radius: 5vw;
        padding: 1.75vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .header-container-scrolled {
        height: 12vw;
    }

    .menu-list {
        font-size: 4vw;
    }

    .home-container {
        padding: 55vw 20vw;
    }

    .home-container h1 {
        font-size: 10vw;
        line-height: 10vw;
    }

    .home-container h2 {
        font-size: 8vw;
    }

    .home-container p {
        letter-spacing: 0.75vw;
        font-size: 3.5vw;
    }

    .home-container button {
        margin-top: 5vw;
        width: 32vw;
        font-size: 3.5vw;
        border-radius: 5vw;
        padding: 1.75vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .menu-list {
        font-size: 2vw;
        top: calc(12vw + 0.2vw);
    }

    .home-container {
        padding: 40vw 20vw;
    }

    .home-container h1 {
        font-size: 10vw;
        line-height: 10vw;
    }

    .home-container h2 {
        font-size: 8vw;
    }

    .home-container p {
        letter-spacing: 0.75vw;
        font-size: 3.5vw;
    }

    .home-container button {
        margin-top: 5vw;
        width: 32vw;
        font-size: 3.5vw;
        border-radius: 5vw;
        padding: 1.75vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .menu-list {
        font-size: 2vw;
    }

    .home-container {
        padding: 20vw 30vw;
    }

    .home-container button {
        margin-top: 3vw;
        width: 15vw;
        font-size: 1.5vw;
        border-radius: 2vw;
        padding: 1vw;
    }

    .header {
        height: 10vw;
    }

    .header-scrolled {
        height: 8vw;
    }

    .header-container-scrolled {
        height: 8vw;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .home-container {
        padding: 20vw 30vw;
    }
}
