.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.portfolio-what {
    color: #53565a;
    font-size: 20px;
}

.portfolio-main-header {
    color: #695aa6;
    font-size: 2rem;
    font-weight: bold;
}

.portfolio-main-container {
    display: flex;
    gap: 2rem;
    margin: 3rem 10rem;
}

.portfolio-container {
   position: relative;
   width: 22rem;
   height: 22rem;
}

.work-image {
    width: 100%;
    height: 100%;
}

.work-image:hover {
    cursor: pointer;
}

.image-inside {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: width 0.25s, height 0.25s, top 0.25s, left 0.25s, background-color 0.25s;
}

.portfolio-header {
    color: #695aa6;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    display: none;
}

.portfolio-content {
    color: #53565a;
    font-size: 17px;
    margin: 0;
    display: none;
}

.portfolio-container:hover .image-inside {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #e1dfed 0%, rgba(225, 223, 237, 0.7) 99%, rgba(225, 223, 237, 0.8) 100%);
}

.portfolio-container:hover .portfolio-header {
    display: block;
}

.portfolio-container:hover .portfolio-content {
    display: block;
}

.contact-me {
    display: flex;
    gap: 20rem;
    background-color: #695aa6;
    width: 100%;
    justify-content: center;
    height: 8rem;
    align-items: center;
    margin: 5rem 0 5rem 0;
}

.contact-me-left {
    color: white;
}

.contact-me-left h2 {
    margin: 0;
    font-size: 20px;
}

.contact-me-left p {
    margin: 0;
    font-size: 17px;
    word-spacing: 5px;
    font-weight: 100;
    letter-spacing: 2px;
}

.contact-me-right {
    margin-right: 10rem;
}

.contact-me-right button {
    width: 8rem;
    background-color: white;
    color: black;
    height: 3rem;
    border-radius: 5px;
    font-weight: 900;
    border-style: none;
    font-size: 15px;
}

.contact-me-right button:hover {
    background-color: rgb(238, 236, 236);
    cursor: pointer;
}