.testmonial-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testmonial-what {
    color: #53565a;
    font-size: 20px;
}

.testmonial-header {
    color: #695aa6;
    font-size: 2rem;
    font-weight: bold;
}

.testmonial-container {
    display: flex;
    gap: 5rem;
    margin: 3rem 15rem;
}

.testmonial {
    position: relative;
    border: 1px solid rgb(218, 216, 216);
    padding: 1rem 1rem 1rem 4rem;
}

.testmonial-avatar {
    position: absolute;
    width: 5rem;
    border-radius: 3rem;
    top: 2.2rem;
    left: -2.8rem;
    border: 5px solid white;
}

.testmonial-content {
    color: #4a4747;
    font-size: 17px;
}

.testmonial-client-name {
    color: #695aa6;
    margin: 7px 0 2px 0;
}
