.footer-outer {
    margin: 5rem 10rem 0 10rem;
}

.footer-outer hr {
    border-top: 1px solid rgb(241, 239, 239);
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    letter-spacing: 0.5px;
    font-size: 17px;
    color: #4a4747;
}

.footer-right img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 3px;
    opacity: 0.4;
}

.footer-right img:hover {
    opacity: 1;
    cursor: pointer;
}
